.app {
}

p{
	margin-bottom: 0;
}
/* component pokemon list */
.listpk-wrapper {
	/* background-color: #ddd; */
	width: 80%;
	margin: auto;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 5px;
}
.pokemon {
	cursor: pointer;
	text-align: center;
	background-color: #fff;
	position: relative;
}

.pokemon img {
	display: block;
	width: 100%;
	transition: transform 0.2s;
}
.pokemon img:hover {
	transform: scale(1.2);
}

.pk-name {
	background-color: #ddd;

}

.pokemon:hover .pk-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	background: red;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
}

/* component modal */
.modal-wrapper .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.4);
}

.modal-wrapper .modal_block {
	display: block !important;
}

.modal-content {
    margin: auto;
    /* padding: 30px 30px 0 30px; */
    background-color: #fefefe;
    width: max-content;
    padding-top: 30px;
}

.modal-content .button-close {
	cursor: pointer;
	background: red;
	color: white;
	font-weight: bolder;
	font-size: large;
	padding: 0 8px;
	display: flex;
	margin-left: auto;
	margin-right: 30px;
}

.modal .header-info {
	display: flex;
	padding: 0 30px;
}

.header-info #id-pk {
	margin-bottom: 0;
	background-color: red;
	color: white;
	width: fit-content;
	padding: 0 0.2rem;
}
.header-info img {
	width: 152px;
	height: 152px;
	margin-right: 1.5rem;
}

.header-info .name, .additional-info .name {
	background-color: red;
	color: white;
	width: fit-content;
	padding: 0 0.4rem;
}

.modal .additional-info{
	display: flex;
    height: 320px;
    overflow: auto;
    padding: 0 30px;
    background: #ddd;
	
}

.additional-info .col1{
	width: 152px;
	margin-right: 1.5rem;
}

.col1 #base-stat{
 	color:red;
 	font-weight: 600;
}

.additional-info .col2{
	
}
@media (min-width: 481px) {

  }

@media (max-width: 480px) {
	.header-info img {
	
		margin-right: 0.8rem;
	}
	.additional-info .col1{
		
		margin-right: 0.8rem;
	}
  }

/* component loading */
.loading {
	width: 80px;
	height: 80px;
	margin: auto;
}

.loading:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid red;
	border-color: red transparent red transparent;
	animation: loading 1.2s linear infinite;
  }
  @keyframes loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
